//Do you want movies to play? 1 for yes, 0 for no.
PlayMovies
1

//Do you want shows to play? 1 for yes, 0 for no.
PlayShows
1

//Do you want the intro to play? 1 for yes, 0 for no.
PlayIntro
1

//Do you want bumps to play? 1 for yes, 0 for no.
PlayBumps
1

//How many bumps do you want between movies/show episodes? Integer range from 0 to any positive number.
MinBumps
0
MaxBumps
2

//How many shows do you want between movies? Integer range from 0 to any positive number. This will only work if both PlayMovies and PlayShows are true
MinShows
5
MaxShows
15
