//The folder containing all of your movies
MoviesFolder
/media/pi/Windfish/Videos/Movies
 
//The folder containing all of your shows
ShowsFolder
/media/pi/Windfish/Videos/Series
 
//The folder containing all of the intros or openings that could play as the first clip
IntrosFolder
/media/pi/Windfish/Intros
 
//The folder containing all of your bumps, promos, ads, or other video clips to play between movies and shows
BumpsFolder
/media/pi/Windfish/Extras

//Do you want movies to play? 1 for yes, 0 for no.
PlayMovies
1

//Do you want shows to play? 1 for yes, 0 for no.
PlayShows
1

//Do you want the intro to play? 1 for yes, 0 for no.
PlayIntro
1

//Do you want bumps to play? 1 for yes, 0 for no.
PlayBumps
1

//How many bumps do you want between movies/show episodes? Integer range from 0 to any positive number (inclusive).
MinBumps
0
MaxBumps
2

//How many shows do you want between movies? Integer range from 0 to any positive number (inclusive). This will only work if both PlayMovies and PlayShows are true.
MinShows
5
MaxShows
15

//A list of comma separated strings that the show or movie must contain to be included in the final list of videos. (Example: Ghost,Paranoia,Evangelion,Shin,Gurren). Start the line with "//" for no whitelist
Whitelist
//Ghost,Paranoia,Evangelion,Shin,Gurren

//A list of comma separated strings that the show or movie must contain to be excluded in the final list of videos. (Example: Scooby,Dexter,Morty,Futurama,Sponge). Start the line with "//" for no blacklist.
Blacklist
//Scooby,Dexter,Morty,Futurama,Sponge

//Put shows in the video list so that they stay in order. 1 for yes, 0 for no. (example: show 1 episode 1, then show 2 episode 1, then show 1 episode 2, etc...)
//Video order is determined by the order they are in in each folder
Series
0

//What percentage of bumps should be the custom ones in the BumpGenerator folder? 0 for none, 30 for 30%, 70 for 70%, 100 for all of them, etc...
//This feature requires pygame to be installed as the custom bump generator uses pygame
CustomBumpsPercent
0

//The folder that contains the music to be played with the custom bumps
MusicFolder
/media/pi/Windfish/Music
